@import "tailwindcss";

:root {
  --background: #f8f5f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  overflow: hidden;
  padding: 0;
  margin:0;
  font-family: var(--font-poppins);
}


@layer utilities {
  .dotted-border-long {
    border-top: 1px dashed transparent;
    border-image: repeating-linear-gradient(90deg, black, black 4px, transparent 2px, transparent 5px) 2;
  }
}



.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}



@layer utilities {
  .fade-mask {
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-size: cover;
    -webkit-mask-size: cover;
  }


  .fade-mask-left {
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 100%);
    mask-size: cover;
    -webkit-mask-size: cover;
  }

}



.disable-scrollbar::-webkit-scrollbar {
  display: none;
}

.disable-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-horizona {
  font-family: var(--font-horizona);
}

.font-sans {
  font-family: var(--font-sans);
  font-weight: 400;
}




.font-light {
  font-family: var(--font-poppins);
  font-weight: 300;
}

.font-regular {
  font-family: var(--font-poppins);
  font-weight: 400;
}

.font-semi-bold {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.font-bold {
  font-family: var(--font-poppins);
  font-weight: 700;
}

.font-medium {
  font-family: var(--font-poppins);
  font-weight: 500;
}

.font-extra-bold {
  font-family: var(--font-poppins);
  font-weight: 800;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.new-section-item:hover h3 {
  background-color: #f9c63b;
}


.window-shadow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 50;
}

.window-shadow-overlay__content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}



